<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SiteUrl" value="http://gs.msk.mosreg.ru/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceNotificationBinding" />
        <binding name="ServiceInformationBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
        <binding name="ClientNotificationBinding" />
        <binding name="ClientInformationBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
        <binding name="InformationLinkServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GS.Ig.Module.Sivgk.v1.Services.NotificationService">
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="ServiceNotificationBinding"
          contract="NotificationLinkPortType" />
      </service>
      <service name="GS.Ig.Module.Sivgk.v1.Services.InformationService">
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="ServiceInformationBinding"
          contract="InformationLinkPortType" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:81/sivgk.control.sk/NotificationLinkService.svc"
        binding="basicHttpBinding" bindingConfiguration="ClientNotificationBinding"
        contract="NotificationService.NotificationLinkPortType" />
      <endpoint address="http://sk.control.sivgk.srvdev.ru/service/1/information"
        binding="basicHttpBinding" bindingConfiguration="ClientInformationBinding"
        contract="InformationService.InformationLinkPortType" />
                <endpoint address="http://rsd-service.srvdev.ru/InformationLinkService.asmx"
                binding="basicHttpBinding" bindingConfiguration="InformationLinkServiceSoap"
                contract="RSDInformationService.InformationLinkServiceSoap"
                name="InformationLinkServiceSoap" />
    </client>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
		   maxSizeOfMessageToLog="100000000"
       />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="C:\Temp\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
